lerna-debug.log*

*.cover
.stylelintcache
.next
.lock-wscript
.ruff_cache/
venv/
.pyre/
.temp
.env.development.local
*.egg
.pnpm-debug.log*
.coverage
coverage
env.bak/
ipython_config.py
.dmypy.json
MANIFEST
.scrapy
.rts2_cache_cjs/
cython_debug/
*.manifest
.cursorignore
.Python
downloads/
.yarn/cache
node_modules/
.rpt2_cache/
*.spec
__pycache__/
out
pids
.hypothesis/
.nuxt
/site
.yarn/unplugged
env/
.vuepress/dist
.env.local
.spyproject
.fusebox/
.coverage.*
*.pid.lock
.eslintcache
.venv
.cache/
cover/
logs
celerybeat.pid
.eggs/
target/
sdist/
dist
.vscode-test
.yarn/build-state.yml
var/
.node_repl_history
npm-debug.log*
parts/
.installed.cfg
.mypy_cache/
.spyderproject
.pytype/
*.seed
*.lcov
.env
.pdm-python
*.py[cod]
celerybeat-schedule
.npm
web_modules/
.pdm.toml
.pnp.*
.docusaurus
*.egg-info/
**/.vitepress/dist
instance/
*$py.class
lib-cov
.env.production.local
lib/
venv.bak/
*.so
develop-eggs/
.tox/
.pytest_cache/
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
.pdm-build/
build/
.dynamodb/
ENV/
.nyc_output
.rts2_cache_umd/
wheels/
docs/_build/
.pypirc
.tern-port
build/Release
*.tsbuildinfo
.env.test.local
.webassets-cache
local_settings.py
.parcel-cache
yarn-debug.log*
nosetests.xml
eggs/
.yarn/install-state.gz
**/.vitepress/cache
*.pot
.rts2_cache_es/
coverage.xml
htmlcov/
.pybuilder/
pip-log.txt
*.mo
__pypackages__/
.cursorindexingignore
*.sage.py
jspm_packages/
.yarn-integrity
*.pid
pip-delete-this-directory.txt
.nox/
db.sqlite3
.ropeproject
dist/
.cache
*.log
*.py,cover
.serverless/
db.sqlite3-journal
.ipynb_checkpoints
*.tgz
dmypy.json
share/python-wheels/
bower_components
profile_default/
.grunt
lib64/
yarn-error.log*
# REFNOTE: created by technomantic spirit with selective ignorance and artistical resonance of the Saint Mission of Technomancers
# REFNOTE: this file (./.gitignore) was generated by selective_ignorance.sh 2025 by Sett Sarverott (https://gist.github.com/Sarverott/a9933eea3dd0e4fc54e8ff275bd79dcf under terms of CC BY-ND 4.0)
# REFNOTE: based on resources delivered from gitignore repo with templates by Github (https://github.com/github/gitignore under terms of CC0-1.0)
# REFNOTE: content of file have to contain this information REFNOTE to show respect for work of authors that gave opportunity to create this file
# REFNOTE: by casting spell `bash git python,node` for  with  [UNIXUSAT=1748040221327]
# REFNOTE: best regards and with goodluck charm casting
# REFNOTE:    ~Apokryf Institute of Technomantic Research
